**/__pycache__/*
**/ONET/__pycache__/*
**/FD_SSD/__pycache__/*
**/conf/__pycache__/*
**/model/__pycache__/*
**/train/__pycache__/*
**/util/__pycache__/*
**/data/__pycache__/*
*.png
*.txt
*.zip
/model/checkpoint/*
*.pkl
/testing/*
train/__pycache__/*
pair_gen/validate_diff_pairs_test2.txt
pair_gen/validate_same_pairs_test2.txt
/log_regnet/*
pair_gen/validate_same_pairs_asia_age.txt
pair_gen/validate_diff_pairs_asia_age.txt
model/pycls_old/*
pair_gen/validate_diff_pairs_tpe_street.txt
pair_gen/validate_same_pairs_tpe_street.txt
/kneron_preprocessing/*
